@using System;
@using System.Data;
@using System.Data.SqlClient;
@using System.Diagnostics;
@{
    //Establish Database Connection
    var connection_string = @"Data Source = (LocalDB)\MSSQLLocalDB; AttachDbFilename = " + Server.MapPath("~/App_Data/lease.mdf") + "; Integrated Security = True";
    SqlConnection connection = new SqlConnection(connection_string);
    connection.Open();
    SqlCommand command;
    SqlDataReader reader;

    //Property Parameter
    string address = "";
    string city = "";
    string province = "";
    string postal = "";
    string parking = "";

    //Unit List
    Dictionary<int, string> units = new Dictionary<int, string>();
    if (Request["id"] != null)
    {
        //GET Property Parameter
        command = new SqlCommand("SELECT * FROM dbo.Property WHERE id = @_id", connection);
        command.Parameters.AddWithValue("@_id", Request["id"]);
        reader = command.ExecuteReader();
        reader.Read();
        address = Convert.ToString(reader["address"]);
        city = Convert.ToString(reader["city"]);
        province = Convert.ToString(reader["province"]);
        postal = Convert.ToString(reader["postal"]);
        parking = Convert.ToString(reader["parking"]);
        reader.Close();

        //GET Corresponding Units
        command = new SqlCommand(@"SELECT u.id, u.name
            FROM dbo.Unit u 
            INNER JOIN dbo.Property p 
                ON p.id = u.property_id 
            WHERE p.id = @_id;",connection);
        command.Parameters.AddWithValue("@_id", Request["id"]);
        reader = command.ExecuteReader();
        while (reader.Read())
        {
            units.Add(Convert.ToInt32(reader[0]), Convert.ToString(reader[1]));
        }
        reader.Close();
    }
    connection.Close();
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sage Leasing Manager</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <!-- Navigation -->
        @RenderPage("~/include/nav.cshtml")
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    @RenderPage("~/include/property_sidenav.cshtml")
                    @if (Request["id"] != null)
                    {
                        <div class="col-lg-8 col-md-8 col-sm-9">
                            <h1>@address</h1>
                            <br>
                            <br>
                            <form class="form-horizontal" action="~/property_model.cshtml">
                                <fieldset>
                                    <legend>Information</legend>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Address</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" name="address" value="@address">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">City</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" name="city" value="@city">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Province</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" name="province" value="@province">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Postal Code</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" name="postal_code" value="@postal">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Parking Spaces</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" name="parking" value="@parking">
                                        </div>
                                    </div>
                                    <input type="hidden" name="id" value="@Request["id"]" />
                                    <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-2">
                                            <button type="reset" class="btn btn-default">Cancel</button>
                                            <button type="submit" class="btn btn-primary" name="action" value="edit">Submit</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                            <form class="form-horizontal" id="add_unit_toggle">
                                <fieldset>
                                    <legend>Units</legend>
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <table class="table table-striped table-hover ">
                                                <thead>
                                                    <tr>
                                                        <th>Unit #/name</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var unit in units.Keys)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <a href="~/unit.cshtml?id=@unit">@units[unit]</a>
                                                            </td>
                                                            <td>
                                                                <a href="~/unit_model.cshtml?action=delete&unit_id=@unit&id=@Request["id"]">delete</a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-2">
                                            <button type="button" class="btn btn-primary" onclick="addUnit(this);">Add new units</button>
                                        </div>
                                    </div>

                                </fieldset>
                            </form>
                            <form class="form-horizontal" method="post" action="~/unit_model.cshtml" hidden>
                                <fieldset>
                                    <legend>Add New Unit</legend>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Unit #/name</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" name="name">
                                        </div>
                                    </div>
                                    <input type="hidden" name="id" value="@Request["id"]" />
                                    <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-2">
                                            <button type="submit" class="btn btn-primary" name="action" value="add">Add new units</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    }
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script>
        function addUnit(butt) {
            $("form:hidden").slideToggle();
            $("#add_unit_toggle").slideToggle();
        }
    </script>
</body>

</html>

