@using System;
@using System.Data;
@using System.Data.SqlClient;
@using System.Diagnostics;
@{
    //Establishing Database connection
    var connection_string = @"Data Source = (LocalDB)\MSSQLLocalDB; AttachDbFilename = " + Server.MapPath("~/App_Data/lease.mdf") + "; Integrated Security = True";
    SqlConnection connection = new SqlConnection(connection_string);
    connection.Open();
    SqlCommand command;
    SqlDataReader reader;

    //Unit Parameter
    string number = "";
    string property = "";

    //Room List
    Dictionary<int, string> rooms = new Dictionary<int, string>();
    Dictionary<int, string> lease_groups = new Dictionary<int, string>();
    if (Request["id"] != null)
    {
        //GET Unit Parameter
        command = new SqlCommand("SELECT u.name, p.address FROM dbo.Unit u INNER JOIN dbo.Property p ON u.property_id = p.id WHERE u.id = @_id", connection);
        command.Parameters.AddWithValue("@_id", Request["id"]);
        reader = command.ExecuteReader();
        reader.Read();
        number = Convert.ToString(reader[0]);
        property = Convert.ToString(reader[1]);
        reader.Close();

        //GET Corresponding Rooms
        command = new SqlCommand("Select r.id, r.name FROM room r INNER JOIN unit u ON r.unit_id = u.id WHERE u.id = @id", connection);
        command.Parameters.AddWithValue("@id", Request["id"]);
        reader = command.ExecuteReader();
        while (reader.Read())
        {
            rooms.Add(Convert.ToInt32(reader[0]), reader[1].ToString());
        }
        reader.Close();

        //GET Corresponding Lease Groups
        command = new SqlCommand("SELECT lg.id, lg.name FROM Lease_Group lg INNER JOIN Unit u ON lg.unit_id = u.id WHERE u.id = @id", connection);
        command.Parameters.AddWithValue("@id", Request["id"]);
        reader = command.ExecuteReader();
        while (reader.Read())
        {
            lease_groups.Add(Convert.ToInt32(reader[0]), reader[1].ToString());
        }
        reader.Close();
    }
    connection.Close();
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sage Leasing Manager</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        @RenderPage("~/include/nav.cshtml")

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    @RenderPage("~/include/property_sidenav.cshtml")
                    @if (Request["id"] != null)
                    {
                        <div class="col-lg-8 col-md-8 col-sm-9">
                            <h1>Unit @number</h1>
                            <br>
                            <br>
                            <form class="form-horizontal" id="unit_info_form" action="~/unit_model.cshtml">
                                <fieldset>
                                    <legend>Information</legend>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Unit</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" name="name" value="@number" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Property</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" value="@property" disabled>
                                        </div>
                                    </div>
                                    <input type="hidden" name="id" value="@Request["id"]" />
                                    <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-2">
                                            <button type="reset" class="btn btn-default">Cancel</button>
                                            <button type="submit" class="btn btn-primary" name="action" value="edit">Submit</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                            <form class="form-horizontal"  id="add_room_toggle">
                                <fieldset>
                                    <legend>Rooms</legend>
                                    <div class="form-group">
                                        <div class="col-lg-10">
                                            <table class="table table-striped table-hover ">
                                                <thead>
                                                    <tr>
                                                        <th>Room #</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var room in rooms.Keys)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <a href="~/room.cshtml?id=@room">@rooms[room]</a>
                                                            </td>
                                                            <td>
                                                                <a href="~/room_model.cshtml?action=delete&room_id=@room&id=@Request["id"]">delete</a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-2">
                                            <button type="button" class="btn btn-primary" onclick="addRoom(this);">Add new Rooms</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                            <form class="form-horizontal" id="add_room" method="post" action="~/room_model.cshtml" hidden>
                                <fieldset>
                                    <legend>Add New Room</legend>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Room #/name</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" name="name">
                                        </div>
                                    </div>
                                    <input type="hidden" name="id" value="@Request["id"]" />
                                    <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-2">
                                            <button type="submit" class="btn btn-primary" name="action" value="add">Add new room</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                            <form class="form-horizontal"  id="add_lease_group_toggle">
                                <fieldset>
                                    <legend>Lease Group</legend>
                                    <div class="form-group">
                                        <div class="col-lg-10">
                                            <table class="table table-striped table-hover ">
                                                <thead>
                                                    <tr>
                                                        <th>Lease Group</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var lease_group in lease_groups.Keys)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <a href="~/room.cshtml?id=@lease_group">@lease_groups[lease_group]</a>
                                                            </td>
                                                            <td>
                                                                <a href="~/unit.cshtml?action=delete&room_id=@lease_group&id=@Request["id"]">delete</a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-2">
                                            <button type="button" class="btn btn-primary" onclick="addLeaseGroup(this);">Add new lease group</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                            <form class="form-horizontal" id="add_lease_group" method="post" action="~/unit.cshtml" hidden>
                                <fieldset>
                                    <legend>Add New Lease Group</legend>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Lease Group Name</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" name="name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Gender Restrictions</label>
                                        <input type="radio" name="gender_res" value="male" />Male
                                        <input type="radio" name="gender_res" value="female" />Female
                                        <input type="radio" name="gender_res" checked value="false" />N/A
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Appliances</label>
                                        <input type="checkbox" name="hydro" value="1"/>Hydro
                                        <input type="checkbox" name="water" value="1"/>Water
                                        <input type="checkbox" name="gas" value="1"/>Gas
                                    </div>
                                    <input type="hidden" name="id" value="@Request["id"]" />
                                    <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-2">
                                            <button type="submit" class="btn btn-primary" name="action" value="add">Add new room</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    }
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script>
        function addRoom(butt) {
            $("#add_room").slideToggle();
            $("#add_room_toggle").slideToggle();
        }
        function addLeaseGroup(butt) {
            $("#add_lease_group").slideToggle();
            $("#add_lease_group_toggle").slideToggle();
        }
    </script>
</body>

</html>